//styles for header
.header {
  min-height: 75vh;
  width: 100%;
  background-image: url("/images/city.jpeg");
  background-size: cover;
  background-position: center center;
  text-shadow: 0 0 3px #000000;
  &_content {
    color: $color_font;
    &--city {
      padding-top: 2rem;
      font-size: 3rem;
    }
    &--temp {
      font-size: 5.5rem;
    }
    &--date {
      font-size: 2rem;
    }
    &--real-feel {
      font-size: 1.5rem;
    }
    &--phrase {
      font-size: 3rem;
      padding-bottom: 2rem;
    }
  }
  &_icon {
    width: 250px;
    height: 150px;
    background-size: 110%;
  }
}

.waves {
  width: 100vw;
  margin-top: -7rem;
}

.space-section {
  margin-top: 3rem;
}
.day-wrapper {
  flex-basis: 20%;
  margin-top: -2.5rem;
}
.day {
  display: block;
  border: 1px solid $color_day_border;
  background: $color_day_border;
  border-radius:  2rem;
  width: 3rem;
  margin: 0 auto 1rem;
  color: $color_font;
  font-weight: bolder;
}

.temp-day {
  font-weight: 300;
}

.temp-night {
  color: $color_temp_night;
  margin-left: 0.5rem;
}
.icon-phrase {
  display:block;
  color: $color_icon_phrase;
  margin-top: 0.7rem;
}
