//styles for header
.header {
  height: 75vh;
  width: 100%;
  background-image: url("/images/city2.jpeg");
  background-size: cover;
  background-position: center center;
  &_content {
    color: $color_font;
    padding-top: 3rem;
    &--city {
      font-size: 3rem;
    }
    &--temp {
      font-size: 8.5rem;
      display: inline-block;
    }
    &--date {
      font-size: 2rem;
      text-align: right;
    }
  }
  &_icon {
    width: 250px;
    height: 150px;
    background-size: 110%;
  }
}

.waves {
  width: 100vw;
  position: relative;
  top: -50px;
}

//___________________________________________________________________________________________________


.day {
  display: block;
}

.temp-night {
  color: $color_blue;
}